html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  #score {
      color: purple;
      font-size: large; 
      font: arial;
}
