html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  p {  font-size: 2.4em; }


  #score{color: purple}
